@charset "utf-8";
/* CSS Document */

#top_holder {
    background: #2B96CC;
    padding: 10px 0;
}

.top_left ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.top_left ul li {
    display: inline-block;
}

.top_left .field .custom-select {
    border: none;
    padding-top: 0;
    box-shadow: none;
}

.top_left li {
    padding: 0 20px 0 0px;
}

.top_left li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.top_right {
    float: right;
    padding: 7px 0;
}

.top_right ul {
    padding: 0;
    list-style: none;
	margin: 0;
}

.top_right li a {
    text-transform: uppercase;
    color: #fff;
	text-decoration: none;
}

.top_right li {
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid #fff;
}

.border_none li {
    padding: 0;
    border: none;
    padding-right: 10px;
}

.border_none {
    border: none !important;
    padding-right: 0 !important;
}

.logo1 .btn.btn-default {
    background: transparent;
    border: 1px solid #2B96CC;
    border-radius: 0;
    color: #2B96CC;
}

.logo1 #srch-term {
    border: 1px solid #2B96CC;
    border-radius: 0;
}

.logo1 li {
    padding: 0;
}

.logo1 li a {
    color: #303030;
    text-transform: lowercase;
}

.logo_right i {
    background: #303030;
    color: #fff;
    padding: 8px 9px;
    border-radius: 100%;
    margin-right: 8px;
}

.logo_right li {
    padding: 0 0px 0 15px;
}

#logo_holder {
    padding: 30px 0;
}

.logo1 .navbar-form {
    margin-top: 5px;
}

.navbar.navbar-expand-md.bg-dark.navbar-dark {
    background: #2B96CC !important;
    padding: 0;
}

.navbar-nav a {
    color: #fff !important;
	text-transform: uppercase;
	font-weight: 600;
}

.navbar-nav li a {
    padding: 20px 20px !important;
}

.navbar-nav li a:hover {
    background: #fff;
    color: #2B96CC !important;
}

.cart_css a i {
    color: #fff;
    font-size: 20px;
}

.cart_css {
    margin-left: 15px;
}

.cart_css {
    position: relative;
    left: 80px;
    right: 0;
}

#slider {
    background: url("../images/slide.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0;
}

#slider h1 {
    color: #2B96CC;
    font-weight: bold;
}

#slider p {
    margin-top: 20px;
}

#slider .button {
    margin-top: 40px;
}

#slider .button a {
    background: #2B96CC;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

#news_holder {
    background: #2B96CC;
    color: #fff;
}

.news_one {
    padding: 40px 0 0;
}

.position_css {
    background: #fff;
    position: relative;
    margin-top: -30px;
    height: 220px;
    box-shadow: 3px 2px 12px 4px rgba(0, 0, 0, 0.3);
    padding: 50px 30px;
}

.news_one h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

.news_one i {
    font-size: 29px;
    margin-right: 10px;
}

.position_css h1 {
    color: #5f6062;
}

.news_one input {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 45px;
    padding: 0 14px;
}

.news_one .inner_txt {
    padding: 0;
    list-style: none;
}

.news_one .inner_txt i {
    font-size: 14px;
}

.position_css .inner_txt {
    color: #5f6062;
}

.position_css .inner_txt i {
    color: #2B96CC;
}

.position_css .inner_txt li {
    border-bottom: 1px solid #ECECEC;
    padding: 6px 0;
}

.position_css h1 {
    color: #5f6062;
    margin-bottom: 16px;
}

.pres_inner .inner_one {
    background: #2B96CC;
}

.pres_inner .inner_left .col-lg-6 {
    padding: 0;
}

.pres_inner .inner_one {
    background: #2B96CC;
    padding: 20px 0px;
}

.pres_inner .inner_one a {
    text-decoration: none;
    color: #fff;
}

.pres_inner .col-lg-7 {
    padding: 0;
}

.pres_inner .img {
    background-image: url("../images/pres_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
}

.pres_inner .inner_one h3 {
    font-size: 23px;
    margin-top: 10px;
}

.pres_inner .bg_chng {
    background: #24739B;
}

#perscription_holder {
    margin: 60px 0;
}

.heading h1 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
}

.line {
    border: 2px solid #2B96CC;
    width: 30%;
    margin-top: 10px;
}

#perscription_holder .heading {
    margin-top: 20px;
}

#about_sec_holder {
    background: #F7F9FA;
}

.same_width {
    width: 20%;
}

.btn_cstm a {
    background: #2B96CC;
    color: #fff !important;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none !important;
    border-radius: 2px;
}

.btn_cstm a:hover {
    background: #000;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.margin_txt {
    margin: 20px 0 40px;
	color: #878787;
}

.img_holder {
    text-align: right;
}

.padding_sec {
    padding: 80px 0;
}

#video_holder {
    background-image: url(../images/video_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.video_sec {
    padding: 180px 0;
}

.video_inner a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 10px 25px;
    font-size: 50px;
}

.video_txt {
    color: #fff;
}

.video_txt_holder {
    background: #fff;
    padding: 80px 30px;
    position: relative;
    top: 70px;
    box-shadow: 3px 2px 12px 4px rgba(0, 0, 0, 0.3);
}

.customer_inner {
    background-image: url(../images/customer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    color: #fff;
}

.customer_inner ul {
    padding: 0;
}

.customer_inner ul li a {
    color: #fff;
    text-decoration: none;
}

.customer_inner h5 {
    color: #2B96CC;
}

.customer_inner h3 {
    text-transform: uppercase;
}

.customer_inner ul li a:hover {
    color: #2B96CC;
}

.add_banner {
    background: #2B96CC;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 124px 0;
}

#call_action {
    background: #47BB7D;
    padding: 40px 0;
    color: #fff;
}

.call_inner h3 {
    margin: 0;
}

.call_inner_btn {
    text-align: right;
    margin-top: 8px;
}

.call_inner_btn a {
    background: #000;
}

#blog_holder .heading {
    text-align: center;
    margin: auto;
}

#blog_holder .line {
    margin: auto;
        margin-top: auto;
    margin-top: 10px;
    width: 10%;
}

.about_inner img {
    width: 100%;
}

.faq_inner #accordionEx7 i {
    float: right;
}

#accordionEx7 .card-header {
    background: #2B96CC;
    margin-bottom: 0 !important;
}

#accordionEx7 .card-header a {
    color: #fff !important;
    text-decoration: none;
}

#accordionEx7 .card {
    margin: 0 0 10px;
    border: none;
}

.padding_top {
    margin-top: 40px;
}

#faq-holder{
	background-image: url(../images/faq_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.faq_inner h1 {
    color: #fff;
}

#faq-holder .heading {
    color: #fff;
}

#faq-holder .heading .line {
    width: 10%;
}

#footer {
    background: #000;
    color: #2B96CC;
}

#footer .line {
    border: 1px solid #fff;
}

#footer .margin_txt {
    color: #fff;
    margin-bottom: 0;
    padding: 0;
}

#footer .margin_txt li a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

#footer .col-lg-4 {
    border-right: 1px solid #fff;
    padding: 0px 50px;
}

#footer .margin_txt span {
    font-weight: bold;
    color: #2B96CC;
}

#footer .margin_txt {
    color: #fff;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

#footer .margin_txt li a:hover {
    color: #2B96CC;
}

#copyright_holder {
    background: #2B96CC;
    color: #fff;
	padding: 20px 0;
}

#copyright_holder p {
    margin: 0;
    font-size: 20px;
}